<?xml version="1.0"?>
<config>
	<modules>
		<Orange_Bestsellers>
			<version>0.1.2</version>
		</Orange_Bestsellers>
	</modules>
	<frontend>
		<layout>
			<updates>
				<orange_bestsellers>
					<file>orange_bestsellers.xml</file>
				</orange_bestsellers>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<orange_bestsellers>
				<class>Orange_Bestsellers_Model</class>
			</orange_bestsellers>
		</models>
	</global>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <orange_bestsellers/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
	<default>
		<orange_bestsellers>
			<settings>
				<enable>1</enable>
				<show_title>1</show_title>
				<block_title>Bestsellers</block_title>
				<display_products>3</display_products>
				<addtocart>1</addtocart>
				<wishlist_link>1</wishlist_link>
				<compare_link>1</compare_link>
			</settings>
		</orange_bestsellers>
	</default>
</config>